/*------------------------------------------------------------------
[Master Stylesheet]

Project:	Sofia
Version:	1.1
Last change:	07/06/2016   
Primary use:	Sofia
-------------------------------------------------------------------*/
/*------------------------------------------------------------------
[Table of contents]
1. EFFECTS
2. COLORS
3. GENERAL
4. HEADER 
5. WORK LISTING
6. FOOTER
7. ABOUT
8. BLOG
9. COLOR PATTLE
10. TYPOGRAPHY
11. CONTACT
12. MEDIA CSS

-------------------------------------------------------------------*/
/*
EFFECTS
*/
.s-transtion, h1, h2, h3, h4, h5, h6, a, .s-header .s-menu ul, .s-work_intro .s-work_intro_text, .s-blog_head_right > div.s-search_icon, .s-search_box {
  transition: all 0.5s ease-out;
  -moz-transition: all 0.5s ease-out;
  -webkit-transition: all 0.5s ease-out;
  -o-transition: all 0.5s ease-out; }

.s-transtion_fast {
  transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -webkit-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out; }

/*
COLORS
*/
/*
GENERAL
*/
body {
  font-family: "roboto", "sans-serif";
  font-size: 16px;
  color: #000000;
  background: #FFFFFF; }

h1 {
  font-size: 60px;
  line-height: 1.2; }

h2 {
  font-size: 24px; }

h3 {
  font-size: 18px; }

h4 {
  font-size: 18px; }

h5 {
  font-size: 16px; }

h6 {
  font-size: 16px; }

h1, h2, h3, h4, h5, h6 {
  color: #000000;
  font-weight: bold;
  margin-top: 0;
  margin-bottom: 15px; }

a {
  color: #000000; }

a:hover {
  color: #fd6804; }

ul {
  list-style: disc; }

p {
  line-height: 22px;
  margin: 20px 0; }

.s-small_title {
  font-size: 17.96px;
  display: block;
  text-transform: capitalize;
  margin-bottom: 30px;
  padding-bottom: 18px;
  position: relative; }

.s-small_title:after {
  background: #9d9d9d;
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 1px;
  width: 30px; }

/* HEADER */
.s-header {
  margin-top: 80px;
  margin-bottom: 120px; }
  .s-header .s-logo {
    font-size: 18px;
    font-weight: 700;
    display: inline-block; }
  .s-header .s-menu ul {
    padding-left: 0;
    list-style: none; }
  .s-header .s-menu li {
    display: inline-block;
    margin-bottom: 3px;
    margin-left: 10px; }
    .s-header .s-menu li a {
      font-size: 17.99px;
      text-transform: capitalize;
      padding: 15px 18px;
      border: 1px solid transparent; }
    .s-header .s-menu li a:hover {
      border: 1px solid #000000;
      color: #000000; }
  .s-header .s-menu li.s-active a {
    border: 1px solid #000000;
    color: #000000; }
  .s-header .s-info a {
    font-size: 17.99px;
    display: inline-block;
    margin-bottom: 3px; }

.s-intro_home {
  margin-bottom: 120px; }

.s-menu_icon {
  display: none; }

/* WORK LISTING */
.s-work_listing {
  margin-bottom: 120px; }
  .s-work_listing .col-lg-4 .s-work_intro_text {
    padding: 0; }
    .s-work_listing .col-lg-4 .s-work_intro_text a {
      padding: 60px; }

.s-work_intro {
  position: relative;
  margin-bottom: 40px; }
  .s-work_intro .s-work_intro_text {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #fd6804;
    color: #FFFFFF;
    opacity: 0; }
    .s-work_intro .s-work_intro_text a {
      color: #FFFFFF;
      padding: 130px 100px 50px;
      display: block;
      position: relative;
      height: 100%; }
    .s-work_intro .s-work_intro_text .s-small_title:after {
      background: #FFFFFF; }

.s-work_intro:hover .s-work_intro_text {
  opacity: 1; }

/* FOOTER */
.s-footer {
  margin-bottom: 80px; }
  .s-footer i {
    color: #666666;
    display: inline-block;
    margin-right: 3px; }
  .s-footer i:hover {
    color: #fd6804; }
  .s-footer p {
    color: #666666; }

.y-copyright {
  color: #666666; }
  .y-copyright a {
    color: #666666; }
  .y-copyright a:hover {
    color: #fd6804; }

/* ABOUT */
.s-portfolio {
  margin-bottom: 120px; }

.s-about, .s-project_detail {
  margin-bottom: 120px; }
  .s-about p, .s-project_detail p {
    color: #666666;
    max-width: 90%;
    line-height: 30px; }
  .s-about ul, .s-project_detail ul {
    padding-left: 0;
    list-style: none; }
    .s-about ul li, .s-project_detail ul li {
      line-height: 26px; }
    .s-about ul a, .s-project_detail ul a {
      color: #666666; }
    .s-about ul a:hover, .s-project_detail ul a:hover {
      color: #fd6804; }

/* PROJECT */
.s-project_detail {
  margin-bottom: 70px; }

.s-porject_img {
  margin-bottom: 120px; }
  .s-porject_img img {
    margin-bottom: 60px; }

/* BLOG */
.s-blog_listing {
  color: #666666; }
  .s-blog_listing .s-small_title {
    color: #000000; }
  .s-blog_listing .s-blog_single {
    margin-bottom: 40px; }
  .s-blog_listing span.s-blog_date {
    margin-top: 25px;
    display: block; }
  .s-blog_listing .s-show_more {
    margin-bottom: 120px; }
    .s-blog_listing .s-show_more a {
      display: inline-block;
      padding: 18px 35px;
      border: 1px solid #000000;
      -webkit-border-radius: 5px;
      -moz-border-radius: 5px;
      -ms-border-radius: 5px;
      border-radius: 5px;
      color: #151515;
      font-size: 18px; }
    .s-blog_listing .s-show_more a:hover, .s-blog_listing .s-show_more a.disable {
      background: #fd6804;
      color: #FFFFFF;
      border-color: #fd6804; }
    .s-blog_listing .s-show_more a.disable {
      pointer-events: none; }
  .s-blog_listing .s-feature_post {
    position: relative;
    margin-bottom: 80px; }
    .s-blog_listing .s-feature_post .s-feature_text {
      position: absolute;
      bottom: 60px;
      right: 70px; }
    .s-blog_listing .s-feature_post h2 {
      font-size: 36px;
      line-height: 46px; }
      .s-blog_listing .s-feature_post h2 a {
        color: #FFFFFF; }
      .s-blog_listing .s-feature_post h2 a:hover {
        color: #fd6804; }
    .s-blog_listing .s-feature_post span {
      display: inline-block;
      color: #FFFFFF;
      font-size: 12px;
      margin-left: 5px; }

.s-blog_info {
  margin-top: 15px;
  margin-bottom: 80px; }
  .s-blog_info span {
    display: block;
    color: #8c8c8c;
    font-size: 12px; }
  .s-blog_info h4 {
    max-width: 275px;
    line-height: 28px;
    margin: 10px 0 0; }

.s-blog_nav {
  margin-bottom: 85px; }
  .s-blog_nav a {
    color: #666666; }
    .s-blog_nav a i {
      margin-right: 5px;
      font-size: 14px; }
  .s-blog_nav a:hover {
    color: #fd6804; }

.s-blog_listing > div {
  display: none; }

.s-blog_listing > div:nth-child(-n+6) {
  display: block; }

/******  BLOG SINGLE   ******/
.s-blog_head_bar {
  margin-bottom: 35px;
  margin-top: 35px;
  border-top: 1px solid #d9d9d9;
  border-bottom: 1px solid #d9d9d9;
  padding: 10px 35px 10px 0;
  position: relative; }
  .s-blog_head_bar span {
    display: block;
    font-size: 12px;
    color: #8c8c8c;
    line-height: 22px; }

.s-blog_head_right > div {
  float: right; }
.s-blog_head_right > div.s-social {
  padding-top: 10px; }
.s-blog_head_right > div.s-search_icon {
  border-left: 1px solid #d9d9d9;
  border-right: 1px solid #d9d9d9;
  color: #666666;
  cursor: pointer;
  font-size: 22px;
  margin: -10px 0 -10px 20px;
  padding: 19px 15px; }
.s-blog_head_right > div.s-search_icon:hover {
  color: #fd6804; }

.s-search_box {
  background: #ffffff none repeat scroll 0 0;
  box-shadow: 0 0 5px #d9d9d9;
  -webkit-box-shadow: 0 0 5px #d9d9d9;
  -moz-box-shadow: 0 0 5px #d9d9d9;
  left: 0;
  padding: 27px;
  position: absolute;
  top: 102%;
  width: 100%;
  z-index: 9999;
  opacity: 0; }
  .s-search_box form {
    max-width: 745px;
    margin: auto; }
    .s-search_box form input[type="text"] {
      width: 85%;
      border: 1px solid #cccccc;
      background: #fafafa;
      -webkit-border-radius: 3px;
      -moz-border-radius: 3px;
      -ms-border-radius: 3px;
      border-radius: 3px;
      padding: 5px;
      height: 40px; }
    .s-search_box form input[type="submit"] {
      width: 10%;
      border: 1px solid #151515;
      background: #fafafa;
      -webkit-border-radius: 3px;
      -moz-border-radius: 3px;
      -ms-border-radius: 3px;
      border-radius: 3px;
      padding: 5px;
      height: 40px;
      color: #666666;
      text-align: center;
      float: right;
      text-transform: uppercase; }
    .s-search_box form input[type="submit"]:hover {
      background: #fd6804;
      border-color: #fd6804;
      color: #FFFFFF; }

.s-search_box.s-search_toggle {
  opacity: 1; }

.s-blog_feature_img {
  margin-bottom: 50px; }
  .s-blog_feature_img span {
    font-size: 12px;
    color: #8c8c8c; }

.s-blog_single_text {
  margin-bottom: 80px; }

.s-blog_single_text p {
  color: #666666;
  padding-left: 85px;
  line-height: 26px;
  margin-top: 0; }
  .s-blog_single_text p b {
    font-weight: normal;
    color: #151515; }

.s-email_subscribe {
  padding: 20px 0;
  border-top: 1px solid #d9d9d9;
  border-bottom: 1px solid #d9d9d9;
  max-width: 360px;
  float: left;
  margin-right: 25px;
  margin-top: 8px; }
  .s-email_subscribe h3 {
    font-size: 24px;
    margin: auto auto 15px; }
  .s-email_subscribe p {
    color: #8c8c8c;
    padding: 0; }
  .s-email_subscribe input[type="text"] {
    background: #fafafa;
    display: block;
    width: 70%;
    float: left;
    border: 1px solid #cccccc;
    padding: 15px;
    border-radius: 3px 0 0 3px;
    -webkit-border-radius: 3px 0 0 3px;
    -moz-border-radius: 3px 0 0 3px; }
  .s-email_subscribe input[type="submit"] {
    background: #000000;
    display: block;
    width: 30%;
    color: #FFFFFF;
    float: left;
    border: 1px solid #000000;
    padding: 15px;
    border-radius: 0 3px 3px 0;
    -webkit-border-radius: 0 3px 3px 0;
    -moz-border-radius: 0 3px 3px 0; }
  .s-email_subscribe input[type="submit"]:hover {
    background: #fd6804;
    border-color: #fd6804; }

.s-blog_single_footer {
  margin-top: 100px; }
  .s-blog_single_footer a {
    color: #151515; }
  .s-blog_single_footer i {
    margin: 0 3px; }
  .s-blog_single_footer a:hover {
    color: #fd6804; }

.s-social a {
  width: 26px;
  height: 26px;
  font-size: 14px;
  display: inline-block;
  background: #666666;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
  color: #FFFFFF;
  text-align: center;
  line-height: 26px;
  margin: 0 4px; }
.s-social a:hover {
  color: #FFFFFF;
  background: #fd6804; }

.s-comment_area {
  margin-top: 95px; }
  .s-comment_area h3 {
    margin-bottom: 0; }
  .s-comment_area select, .s-comment_area span {
    color: #8c8c8c;
    margin-left: 10px; }
  .s-comment_area .s-comment_header {
    margin-bottom: 15px;
    padding-bottom: 20px;
    border-bottom: 1px solid #d9d9d9; }
  .s-comment_area .s-comment_block {
    position: relative;
    padding-left: 80px; }
    .s-comment_area .s-comment_block img {
      position: absolute;
      left: 0;
      top: 0; }
    .s-comment_area .s-comment_block textarea {
      width: 100%;
      border: 1px solid #b7b7b7;
      padding: 10px;
      min-height: 66px;
      height: 66px;
      resize: none; }
  .s-comment_area select {
    padding: 5px 0px 5px 5px; }
  .s-comment_area .s-comment_short {
    font-size: 14px; }

.s-sidebar_single {
  padding-top: 20px;
  padding-bottom: 25px;
  border-top: 1px solid #d9d9d9;
  border-bottom: 1px solid #d9d9d9; }
  .s-sidebar_single h2 {
    margin-bottom: 24px; }
  .s-sidebar_single ul {
    padding-left: 0;
    list-style: none; }

.s-popular_post li:last-child {
  margin-bottom: 0; }
.s-popular_post li {
  position: relative;
  padding-left: 75px;
  min-height: 65px;
  margin-bottom: 12px; }
  .s-popular_post li a {
    color: #666666; }
  .s-popular_post li a:hover {
    color: #fd6804; }
  .s-popular_post li img {
    position: absolute;
    top: 0;
    left: 0; }
  .s-popular_post li span {
    display: block;
    font-size: 12px;
    color: #666666;
    margin-top: 5px; }

@media (max-width: 767px) {
  .s-comment_area select {
    padding-left: 10px; } }
/* COLOR PATTLE */
.s-info_page {
  font-family: arial; }
  .s-info_page .y-header_bg {
    background: #201e1c;
    padding: 40px 0; }
    .s-info_page .y-header_bg h2 {
      color: #FFFFFF;
      margin: 0;
      font-size: 20px; }
      .s-info_page .y-header_bg h2 span {
        font-weight: normal;
        color: #a9a9a8;
        font-style: italic;
        margin: 0 10px; }
  .s-info_page .s-pattle_blocks {
    padding-top: 100px;
    padding-bottom: 100px;
    border-bottom: 2px solid #e9e9e9;
    font-size: 14px; }
    .s-info_page .s-pattle_blocks .s-single_pattle {
      max-width: 900px;
      margin-bottom: 40px; }
    .s-info_page .s-pattle_blocks .s-pattle_heading {
      position: relative;
      color: #333333;
      text-transform: uppercase;
      letter-spacing: 1px;
      font-weight: bold;
      display: block;
      padding-bottom: 20px;
      margin-bottom: 50px; }
    .s-info_page .s-pattle_blocks .s-pattle_title {
      color: #3a9c61;
      font-weight: bold; }
    .s-info_page .s-pattle_blocks ul {
      list-style: none;
      padding-left: 0;
      margin-top: 40px; }
      .s-info_page .s-pattle_blocks ul li {
        font-size: 13px;
        padding-bottom: 14px;
        display: block;
        max-width: 165px;
        width: 100%;
        text-align: right; }
        .s-info_page .s-pattle_blocks ul li em {
          float: left; }
    .s-info_page .s-pattle_blocks .col-lg-9 {
      padding-left: 80px; }
      .s-info_page .s-pattle_blocks .col-lg-9 > div {
        float: left; }
        .s-info_page .s-pattle_blocks .col-lg-9 > div span {
          position: absolute;
          bottom: -20px;
          color: #b3b3b3;
          font-size: 13px;
          display: block;
          width: 100%;
          text-align: center;
          font-style: italic; }
      .s-info_page .s-pattle_blocks .col-lg-9 > div:last-child {
        margin-right: 0; }
    .s-info_page .s-pattle_blocks .s-pattle_large {
      height: 206px;
      width: 206px;
      position: relative;
      border: 1px solid #e0e0e0;
      margin-right: 20px; }
      .s-info_page .s-pattle_blocks .s-pattle_large > div {
        position: absolute;
        max-width: 186px;
        height: 186px;
        top: 0;
        bottom: 0;
        margin: auto;
        left: 0;
        right: 0; }
    .s-info_page .s-pattle_blocks .s-pattle_small {
      height: 103px;
      width: 103px;
      position: relative;
      border: 1px solid #e0e0e0;
      margin-right: 20px; }
      .s-info_page .s-pattle_blocks .s-pattle_small > div {
        position: absolute;
        max-width: 83px;
        height: 83px;
        top: 0;
        bottom: 0;
        margin: auto;
        left: 0;
        right: 0; }
    .s-info_page .s-pattle_blocks .s-primary, .s-info_page .s-pattle_blocks .s-primary_shade {
      background: #000000; }
    .s-info_page .s-pattle_blocks .s-primary_tint {
      background: #4c4c4c; }
    .s-info_page .s-pattle_blocks .s-primary_pastel {
      background: #4c4c4c; }
    .s-info_page .s-pattle_blocks .s-secondary {
      background: #666666; }
    .s-info_page .s-pattle_blocks .s-secondary_shade {
      background: #484848; }
    .s-info_page .s-pattle_blocks .s-secondary_tint {
      background: #949494; }
    .s-info_page .s-pattle_blocks .s-secondary_pastel {
      background: #e0e0e0; }
    .s-info_page .s-pattle_blocks .s-accent {
      background: #fd6804; }
    .s-info_page .s-pattle_blocks .s-accent_shade {
      background: #b24903; }
    .s-info_page .s-pattle_blocks .s-accent_tint {
      background: #fe954f; }
    .s-info_page .s-pattle_blocks .s-accent_pastel {
      background: #ffe1cd; }
    .s-info_page .s-pattle_blocks .s-background {
      background: #FFFFFF; }
    .s-info_page .s-pattle_blocks .s-background_shade {
      background: #b3b3b3; }
    .s-info_page .s-pattle_blocks .s-background_tint {
      background: #FFFFFF; }
    .s-info_page .s-pattle_blocks .s-background_pastel {
      background: #FFFFFF; }
  .s-info_page .s-pattle_heading:after {
    position: absolute;
    content: "";
    display: block;
    width: 200px;
    background: #f1f1f1;
    height: 1px;
    left: 0;
    bottom: 0; }
  .s-info_page .s-primary_grad_01 .s-grad_single, .s-info_page .s-primary_grad_01 .s-grad_diff, .s-info_page .s-primary_grad_02 .s-grad_single, .s-info_page .s-primary_grad_02 .s-grad_diff {
    background: #000000; }
  .s-info_page .s-secondary_grad_01 .s-grad_single, .s-info_page .s-secondary_grad_02 .s-grad_single {
    background: #666666; }
  .s-info_page .s-accent_grad_01 .s-grad_single, .s-info_page .s-accent_grad_02 .s-grad_single {
    background: #fd6804; }
  .s-info_page .s-secondary_grad_01 .s-grad_diff {
    background: #696969;
    /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(#696969, #b4b4b4);
    /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#696969, #b4b4b4);
    /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#696969, #b4b4b4);
    /* For Firefox 3.6 to 15 */
    background: linear-gradient(#696969, #b4b4b4);
    /* Standard syntax */ }
  .s-info_page .s-secondary_grad_02 .s-grad_diff {
    background: #646464;
    /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(#646464, #3a3a3a);
    /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#646464, #3a3a3a);
    /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#646464, #3a3a3a);
    /* For Firefox 3.6 to 15 */
    background: linear-gradient(#646464, #3a3a3a);
    /* Standard syntax */ }
  .s-info_page .s-accent_grad_01 .s-grad_diff {
    background: #fd6b04;
    /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(#fd6b04, #ffb708);
    /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#fd6b04, #ffb708);
    /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#fd6b04, #ffb708);
    /* For Firefox 3.6 to 15 */
    background: linear-gradient(#fd6b04, #ffb708);
    /* Standard syntax */ }
  .s-info_page .s-accent_grad_02 .s-grad_diff {
    background: #fc6604;
    /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(#fc6604, #ec3802);
    /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#fc6604, #ec3802);
    /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#fc6604, #ec3802);
    /* For Firefox 3.6 to 15 */
    background: linear-gradient(#fc6604, #ec3802);
    /* Standard syntax */ }
  .s-info_page .s-gradient_boxes {
    max-width: 750px;
    width: 100%; }
    .s-info_page .s-gradient_boxes > div {
      max-width: 16.66%;
      float: left;
      width: 100%;
      border-right: 5px solid #FFFFFF; }
    .s-info_page .s-gradient_boxes .s-grad_single {
      height: 78px;
      margin-bottom: 5px; }
    .s-info_page .s-gradient_boxes .s-grad_diff {
      height: 315px; }
  .s-info_page .s-text_blocks > div {
    width: 50%;
    float: left;
    height: 175px;
    padding: 3% 4%;
    border-right: 5px solid #FFFFFF;
    border-bottom: 5px solid #FFFFFF; }
  .s-info_page .s-text_blocks p {
    font-family: "roboto", "sans-serif";
    color: #FFFFFF;
    font-size: 16px; }
  .s-info_page .s-text_blocks > div:last-child p {
    color: #000000; }

/* TYPOGRAPHY */
.s-typography.s-info_page p {
  font-family: "roboto", "sans-serif";
  font-size: 16px; }
.s-typography.s-info_page .s-small p {
  font-size: 12px; }
.s-typography.s-info_page b {
  display: inline-block;
  text-align: left;
  width: 72px;
  font-family: "roboto", "sans-serif"; }
.s-typography.s-info_page .s-font_box {
  height: 270px;
  text-align: center;
  border: 1px solid #dddddd; }
.s-typography.s-info_page .s-pattle_blocks .col-lg-9 > div {
  width: 100%;
  text-align: center; }
  .s-typography.s-info_page .s-pattle_blocks .col-lg-9 > div span {
    position: static;
    color: #000000;
    font-style: normal;
    display: inline-block;
    width: auto;
    line-height: 250px;
    margin: 0 50px; }
.s-typography.s-info_page .s-pattle_blocks .col-lg-9 > div .s-lg {
  font-size: 120px; }
.s-typography.s-info_page .s-pattle_blocks .col-lg-9 > div .s-md {
  font-size: 48px; }

/* CONTACT */
.s-contact {
  margin-top: 70px;
  margin-bottom: 140px; }
  .s-contact input[type="text"], .s-contact input[type="email"], .s-contact textarea {
    background: #fafafa none repeat scroll 0 0;
    border: 1px solid #cccccc;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    border-radius: 2px;
    display: block;
    padding: 15px;
    width: 100%;
    margin-bottom: 24px; }
  .s-contact textarea {
    height: 125px;
    resize: none; }
  .s-contact .s-input_half input[type="text"], .s-contact .s-input_half input[type="email"] {
    width: 48%;
    float: left; }
  .s-contact .s-input_half input[type="email"] {
    float: right; }
  .s-contact input[type="submit"] {
    border: 1px solid #000000;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    border-radius: 2px;
    color: #151515;
    display: inline-block;
    font-size: 18px;
    padding: 14px 25px;
    background: none; }
  .s-contact input[type="submit"]:hover {
    background: #fd6804;
    color: #FFFFFF;
    border-color: #fd6804; }
  .s-contact .s-contact_info {
    margin-top: 60px; }
    .s-contact .s-contact_info p {
      color: #666666;
      margin-top: 0;
      margin-bottom: 35px;
      line-height: 30px; }
      .s-contact .s-contact_info p i {
        color: #fd6804; }
      .s-contact .s-contact_info p strong {
        display: block;
        color: #000000;
        font-weight: normal; }

/* MEDIA CSS */
@media (max-width: 1200px) {
  .s-work_intro .s-work_intro_text a {
    padding: 80px 50px 50px; }

  .s-work_listing .col-lg-4 .s-work_intro_text a {
    padding: 20px; }

  .s-intro_home h1 br {
    display: none; }

  .s-typography.s-info_page .s-pattle_blocks .col-lg-9 > div span {
    margin: 0 20px; } }
@media (max-width: 1023px) {
  .s-work_intro .s-work_intro_text a {
    padding: 50px 30px; }

  .s-work_listing .col-lg-4 .s-work_intro_text a {
    padding: 5px; }

  .s-info_page .s-pattle_blocks .s-pattle_large {
    height: 170px;
    width: 170px; }

  .s-info_page .s-pattle_blocks .s-pattle_large > div {
    height: 150px;
    width: 150px; }

  .s-info_page .s-pattle_blocks .s-pattle_small {
    width: 75px;
    height: 75px; }

  .s-info_page .s-pattle_blocks .s-pattle_small > div {
    height: 55px;
    width: 55px; }

  .s-header .s-menu li a {
    padding: 10px 12px; }

  .s-blog_single_text p {
    padding-left: 25px; }

  .s-email_subscribe {
    float: none;
    margin-bottom: 20px;
    margin-left: 25px; }
    .s-email_subscribe p {
      padding-left: 0; }

  .s-popular_post li a {
    font-size: 14px; } }
@media (max-width: 767px) {
  .s-header .s-logo {
    display: block;
    text-align: center;
    margin-bottom: 30px; }

  .s-info.pull-right {
    margin-bottom: 15px;
    text-align: center;
    width: 100%; }

  .s-menu.pull-right {
    clear: both;
    float: none !important;
    margin: auto;
    max-width: 300px;
    text-align: center;
    width: 100%; }

  h1 {
    font-size: 36px; }

  .s-work_intro .s-work_intro_text a {
    padding: 20px 15px; }

  .s-about > div, .s-project_detail > div {
    margin-bottom: 50px; }

  .s-project_detail > div:last-child {
    margin-bottom: 0; }

  .s-about p, .s-project_detail p {
    max-width: 100%; }
    .s-about p br, .s-project_detail p br {
      display: none; }

  .s-info_page .s-pattle_blocks .col-lg-9 {
    padding-left: 15px; }

  .s-typography.s-info_page .s-font_box {
    height: auto; }

  .s-typography.s-info_page .s-pattle_blocks .col-lg-9 > div span {
    line-height: 150px; }

  .s-info_page .y-header_bg h2 {
    line-height: 28px;
    text-align: center; }

  .s-info_page .s-text_blocks p {
    font-size: 14px;
    padding: 2%; }

  .s-info_page .s-pattle_blocks .s-pattle_large > div {
    height: 285px;
    width: 145px; }

  .s-info_page .s-pattle_blocks .s-pattle_large {
    height: 305px;
    width: 165px; }

  .s-info_page .s-pattle_blocks .s-pattle_small {
    margin-bottom: 30px; }

  .s-email_subscribe {
    margin-left: 0; }

  .s-blog_single_text p {
    padding-left: 0; }

  .s-blog_head_bar {
    padding-right: 0; }
    .s-blog_head_bar .col-lg-6 {
      text-align: center; }
      .s-blog_head_bar .col-lg-6 span {
        display: inline-block; }
    .s-blog_head_bar .s-blog_head_right > div.s-search_icon {
      border: none;
      margin: auto;
      padding: 10px 15px; }
    .s-blog_head_bar .s-blog_head_right > div {
      float: none;
      display: inline-block; }
    .s-blog_head_bar .s-search_box form input[type="submit"] {
      width: 25%; }
    .s-blog_head_bar .s-search_box form input[type="text"] {
      width: 70%; }

  .s-blog_single_footer .row > div {
    text-align: center;
    margin: 10px 0; }

  .s-blog_listing .s-feature_post .s-feature_text {
    bottom: 15px;
    left: 15px;
    right: 35px; }
  .s-blog_listing .s-feature_post h2 {
    font-size: 20px;
    line-height: 24px; }

  .s-sidebar {
    margin-top: 50px; }

  .s-header .s-menu ul {
    background: #d9d9d9 none repeat scroll 0 0;
    height: 100%;
    left: -250px;
    list-style: outside none none;
    max-width: 250px;
    padding-left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 9999; }
  .s-header .s-menu li a:hover {
    color: #151515;
    border: none;
    border-bottom: 1px solid #7c7c7c; }
  .s-header .s-menu li a {
    border: none;
    border-bottom: 1px solid #7c7c7c;
    color: #151515;
    display: block; }
  .s-header .s-menu li.s-active a {
    border: none;
    border-bottom: 1px solid #7c7c7c;
    color: #151515; }
  .s-header .s-menu li {
    display: block;
    margin: auto;
    text-align: left; }
  .s-header .s-menu_toggle.s-menu ul {
    left: 0; }

  .s-header .s-menu li a:hover {
    background: #7c7c7c none repeat scroll 0 0;
    color: #ffffff; }

  .s-menu_icon:hover {
    color: #fd6804; }

  .s-menu_icon {
    cursor: pointer;
    display: inline-block;
    float: right;
    font-size: 28px; } }

/*# sourceMappingURL=main.css.map */
